*, ::before, ::after {
    /*box-sizing: border-box;*/
    margin: 0;
	padding: 10px;
	border: 2px solid black;
  }

html {
    /* font: font-style (optional) font-weight font-size/line-height font-family; */
    font: normal normal 1.5rem/2.0 'Roboto', sans-serif;
    
}

a{
    border: 0;
}

h1, h2{
    text-transform: uppercase; /*lowercase - capitalize*/
    text-decoration: none; /*underline - line-through - overline*/
    text-align: right; /*left - center - justify*/
    /*text-shadow: horizontal-offset vertical-offset blur-radius colour;*/
    /*font-style: normal;*/
    color: blue;
}

ul, ol{
    list-style-type: none;
}

a:hover {
    text-transform: capitalize;
}

.test-1{
    background-color: brown;
    border: 10px solid black;
    margin: 10px;
}

.test-2{
    background-color: burlywood;
    padding: 10px;
    border: 10px solid black;
    border-radius: 20px;
    margin: 10px;
    outline: 5px solid yellow;
}

@media screen and (max-width:600px){
    body{
        background-color: aqua;
    }
}